body {
    background-color: rgb(35, 40, 51);
    background-repeat: no-repeat;
    background-size: cover;

    padding:0px;
    margin:0px;

    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: rgb(255, 255, 255,1);
    padding: 0px;
    margin: 0px;
    display:flex;
    justify-content: center;
}

.navbutton {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1px;
    margin-right: 1px;
    width: 11%;
    text-align: center;

    background-color: rgb(35, 40, 51);
    color:white;

    text-decoration: none;
    font-weight: bold;
}

.navbutton:hover {
    background-color: rgb(50, 109, 54);
}

.header {
    background-color: white;
    background-image: url(images/52268.jpg);
    color:white;

    text-align: center;
    display: list-item;
    justify-content: center;

    margin: 0px;
    padding: 20px;
}

.header h1 {
    font-size: 72;
    font-weight: bold;
    line-height: 60px;
}

.header h3 {
    font-weight: lighter;
}

.content {
    background-color: white;
    padding: 15px;

    display: block;
    text-align: left;

    list-style-position: inside;

    text-align: center;
}

.tablediv {
    background-color: white;
    padding: 15px;

    display: flex;
    justify-content: center;
}

.tablediv table {
    margin:0px;
    padding:0px;
    width: 50%;
}

.tablediv td,th {
    width:1;
    padding: 15px;
    margin:15px;
}

.tablediv th {
    background-color: rgb(35, 40, 51);
    color:white;
}