body {
    background-image: url(images/52268.jpg);
    background-color: grey;
}

div {
    background-color: rgb(255, 255, 255,0.5);
    padding: 1%;
    border-radius: 20px;
    margin-top: 20px;
}

.navbutton {
    opacity: 1;
    padding: 5px;
    border-radius: 5px;

    color: rgb(0, 0, 0);
    text-decoration: none;

    text-align: center;
}

#navdiv {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.navbutton:hover {
    background-color: rgb(185, 245, 255);
}

p {
    color: black;
    opacity: 1;
}

td {
    text-align: center;
}

input {
    background-color: white;
    border-radius: 5px;
    border-style: none;
    padding: 5px;

    text-align:center;
}

#formdiv table {
    display: flex;
    justify-content: center;
}

#formdiv #sendreset {
    display: flex;
    justify-content: space-evenly;
}

#formdiv #sendreset td {
    background-color: white;
    border-radius: 5px;
    width: 47%;
}